@charset "UTF-8";

@font-face {
    font-family: 'interphases';
    src: url('../fontes/TT\ Interphases\ Pro\ Trial\ Variable.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: interphases, sans-serif;
    font-size: 1em;
    font-weight: normal;

}

/* Calculadora*/ 
div#Calculadora{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;  
    border: 1px solid lightgray;
    border-radius: 10px;
}

/* Parte superior ao visor*/
div#superior{
    border-radius: 10px 10px 0 0;
    background-color: #464646;
    width: 100%;
    height: 20px;
    display: inline-block;
}

div.bolas{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

div#bola1{
    margin: 5px 0 0 10px;
    background-color: red;
}

div#bola2{
    margin: 5px 0 0 10px;
    background-color: yellow;
}

div#bola3{
    margin: 5px 0 0 10px;
    background-color: green;
}

/* visor */
div#visor{
    background-color: #464646;
    width: 400px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 3em;
    padding: 10px;
}

/*  C +/- %*/
div.funcao{
    background-color: #585858;
    width: 25%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.5px #464646;
    color: white;
    font-size: 2em;
}

/* Botões ÷ x - + = */
div.operacoes{
    background-color: #F3A33C;
    width: 25%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.5px #464646;
    color: white;
    font-size: 2em;
}


/* Botões 0 , 1 2 3 4 5 6 7 8 9 */
div.numeros{
    background-color: #747474;
    width: 25%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0.5px #464646;
    color: white;
    font-size: 2em;
}


div#zero{
    width: 50%;
    border-radius: 0 0 0 10px;
}

div#resultado{
    border-radius: 0 0 10px 0;
}
