@charset "UTF-8";

@font-face {
    font-family: 'interphases';
    src: url('../fontes/TT\ Interphases\ Pro\ Trial\ Variable.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: interphases, sans-serif;
    font-size: 1em;
    font-weight: normal;
}
body{
    background-color: lightcyan;
}

header{
    text-align: center;
    height: 200px;
    padding-top: 50px;
    font-size: 5em;
}

/* Calculadora*/ 
div#calculadora{
    display: flex;
    flex-wrap: wrap;  
    width: 300px;
    height: 400px;  
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div.calc{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center; 
}

#superiorEsquerdo, #superiorDireito {
    width: 50%;
    height: 20px;
    background-color: #464646;
}

#superiorEsquerdo{border-top-left-radius: 10px;}
#superiorDireito{
    border-top-right-radius: 10px;
    justify-content: end;
    padding-right: 10px;
}

#visor{
    width: 100%;
    height: 60px;
    background-color: #464646;
    justify-content: end;
    padding-right: 10px;
    box-shadow: inset 0 0 0 0.5px #464646;
}


#operacoes, #operacoes2, #numeros, #resultado {
    width: 25%;
    height: 64px;
    background-color: lightcyan;
    font-size: 1.5em;
    box-shadow: inset 0 0 0 0.5px #464646;
}

#operacoes{background-color: #585858;}
#operacoes2, #resultado{background-color:#F3A33C;}
#numeros{background-color: #747474;}

#zero{
    width: 50%;
    height: 64px;
    background-color: #747474;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0 0 0 0.5px #464646;
}

#resultado{
    border-bottom-right-radius: 10px;
}